In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# Load Raw Data

In [4]:
athlete_medals_data = pd.read_excel("raw_data\medal_athlete.xlsx", sheet_name="Data")
athlete_medals_data.head()

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,athletes,event,medal,npc,npc_new,npc_name,npc_name_latitude,npc_name_longitude,athlete_name,athlete_info_og
0,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,1044.0,Men's 100 m T37,Gold,ALG,ALG,Algeria,28.033886,1.659626,ALLEK M,ALLEK Mohamed (ALG)
1,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,1044.0,Men's 200 m T37,Gold,ALG,ALG,Algeria,28.033886,1.659626,ALLEK M,ALLEK Mohamed (ALG)
2,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,1044.0,Men's 400 m T37,Gold,ALG,ALG,Algeria,28.033886,1.659626,ALLEK M,ALLEK Mohamed (ALG)
3,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,1141.0,Men's 400 m T13,Bronze,ALG,ALG,Algeria,28.033886,1.659626,HAMOUMOU M,HAMOUMOU Mohamed Fouad (ALG)
4,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,1141.0,Men's 400 m T37,Bronze,ALG,ALG,Algeria,28.033886,1.659626,HAMDI S,HAMDI Sofiane (ALG)

In [10]:
athlete_medals_dict = pd.read_excel(
    "raw_data\medal_athlete.xlsx", sheet_name="Data Dictionary", names=["column_name", "explanation"], header=None
)
athlete_medals_dict

           column_name                                        explanation
0           games_code                        The year and type of games.
1           games_year                       The year the games were held
2           games_city          The city that hosted the Paralympic Games
3        City_latitude                          Latitude of the host city
4       City_longitude                         Longitude of the host city
5        games_country                                       Host country
6     Country_latitude                       Latitude of the host country
7    Country_longitude                      Longitude of the host country
8      games_continent                      Continent of the host country
9          games_start                              Day the games started
10           games_end                                Day the games ended
11        games_season                             Summer or winter games
12               sport                The overall category/type of sport.
13          sport_code  A short code representing the sport which is t...
14         event_venue                 The venue where the event was held
15              events                     Number of events in this sport
16                npcs        Number of countries competing in this sport
17            athletes         Number of athletes competing in this sport
18               event                              The name of the event
19               medal  The medal won by the individual athlete in thi...
20                 npc                            country code (IOC code)
21             npc_new  Revised country code with updated information ...
22            npc_name             Name of the country (based on npc_new)
23   npc_name_latitude                        Latitude of the npc country
24  npc_name_longitude                       Longitude of the npc country
25        athlete_name  The name of the athlete (derived from athlete_...
26     athlete_info_og  The original athlete information scraped (befo...